@import url('https://fonts.googleapis.com/css?family=Merriweather|Ubuntu&display=swap');


body{
	text-align: center;
	height: 100vh;
}

.talk{
	width: 500px;
	height: 200px;
	border: none;
	border-radius: 20px;
	color: white;
	font-size: 4rem;
	text-transform: uppercase;
	letter-spacing: 5px;
	cursor: pointer;
	margin-top: 10%;
	outline: none;
	font-family: Merriweather;
	background: #7f7fd5;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.talk:hover{
	transition: all 0.3s linear;
	background: #86A8E7;
}

.content{
	margin-top: 100px;
	font-family: Ubuntu;
	font-size: 5rem;
}